<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
    <md-list>
        <md-item layout="row" ng-repeat="course in courseCtrl.courses track by course._id">

            <md-button ng-click="courseCtrl.selectCourse(course)" flex>
                <img src="./assets/img/usi-fields/cs.png" class="avatar"/>
                {{course.name}}
            </md-button>

        </md-item>
    </md-list>
</md-sidenav>

<md-content flex layout-align="center center" id="">

    <div ng-if="courseCtrl.selected" class="course-details" flex layout="column" >

        <md-toolbar style="background-color:#212121;" class="md-tall">
            <span flex></span>
            <div class="md-toolbar-tools md-toolbar-tools-bottom">
                <h1 class="md-flex md-display-3" style="color: white">
                    {{courseCtrl.selected.name | capitalize}}
                    <span class="md-subhead"
                          ng-repeat="lecturer in courseCtrl.selected._lecturer track by lecturer._id">
                        <span ng-if="$first">(</span>
                            {{lecturer.firstname}} {{lecturer.lastname}}
                        <span ng-if="!$last">, </span>
                        <span ng-if="$last">)</span>
                    </span>
                </h1>
            </div>
        </md-toolbar>

        <div flex class="shadow-box-top course-content" >

            <md-toolbar>
                <div class="md-toolbar-tools">
                    Overview
                </div>
            </md-toolbar>

            <div flex layout="row" layout-padding>
                <div flex>{{courseCtrl.selected.details.attendedAmount}}% lectures attended.</div>
                <div flex>{{courseCtrl.selected.details.schedule.length}} lectures total.</div>
                <div flex>{{courseCtrl.selected.details.upcomingAmount}} lectures upcoming.</div>
            </div>

            <md-toolbar>
                <div class="md-toolbar-tools">
                    Lectures
                </div>
            </md-toolbar>


            <timeline>

                <timeline-node ng-repeat="lecture in courseCtrl.selected.details.schedule track by lecture._id"
                               side={{courseCtrl.getSide($index)}}>
                    <timeline-badge class="usibeacon" ng-class="{ upcoming: courseCtrl.isUpcoming(lecture) }">
                        <md-icon style="color: white;" ng-if="courseCtrl.wasPresentAt(lecture)"
                                 md-svg-src="./assets/svg/ic_done_48px.svg"></md-icon>
                    </timeline-badge>
                    <timeline-panel>
                        <timeline-heading>
                            <timeline-title>{{lecture.name | capitalize }}</timeline-title>
                            <p>
                                <small class="text-muted">
                                    <md-icon style="height:12px; width:12px;" md-svg-src="./assets/svg/ic_event_24px.svg"></md-icon>
                                    {{ lecture.start | date}} ({{lecture._room.name | uppercase}})
                                </small>
                            </p>
                        </timeline-heading>
                        <timeline-content>
                            <!--<p ng-if="lecture.description">{{lecture.description}}</p>-->
                            <!--<p ng-if="!lecture.description">No further info currently available.</p>-->
                        </timeline-content>
                    </timeline-panel>
                </timeline-node>

            </timeline>

        </div>


    </div>


    <div ng-if="!courseCtrl.courses.length" flex layout="column" layout-align="center center" >
        <h1 style="text-align: center; color: #BDBDBD;">
            Your list of courses will be displayed here.
        </h1>
    </div>



    <md-content flex layout="column" layout-align="center center"
                ng-if="courseCtrl.courses.length && !courseCtrl.selected" style="height: 100%;">
        <md-icon md-svg-src="./assets/svg/ic_school_24px.svg" style="color: #BDBDBD; height:300px; width:300px;"></md-icon>
        <h1 style="color: #BDBDBD;">Select a course to see more info.</h1>
    </md-content>

</md-content>