<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
    <md-list>
        <md-item layout="row" ng-repeat="course in courseCtrl.courses track by course._id">

            <md-button ng-click="courseCtrl.selectCourse(course)" flex>
                <img src="./assets/img/usi-fields/cs.png" class="avatar"/>
                {{course.name}}
            </md-button>
        </md-item>
    </md-list>
</md-sidenav>

<md-content flex layout-align="center center" id="">

    <div ng-if="courseCtrl.selected" class="course-details" flex layout="column" >

        <div  flex layout="column" class="course-title" layout-padding style="background-color: #212121;">
            <h1 style="padding-top: 30px; padding-left: 8px;color: white;">{{courseCtrl.selected.name}}</h1>
        </div>


        <div flex class="shadow-box-top course-content" >
            <md-subheader class="md-no-sticky">Overview</md-subheader>

            <div flex layout="row" layout-padding>
                <div flex>ciao</div>
                <div flex>come</div>
                <div flex>stai</div>
            </div>

            <md-subheader class="md-no-sticky md-a">Lectures</md-subheader>


        </div>


    </div>


    <div ng-if="!courseCtrl.courses.length" flex layout="column" layout-align="center center" >
        <h1 style="text-align: center; color: #BDBDBD;">
            Your list of courses will be displayed here.
        </h1>
    </div>



    <md-content flex layout="column" layout-align="center center"
                ng-if="courseCtrl.courses.length && !courseCtrl.selected" style="height: 100%;">
        <md-icon md-svg-src="./assets/svg/ic_school_24px.svg" style="color: #BDBDBD; height:300px; width:300px;"></md-icon>
        <h1 style="color: #BDBDBD;">Select a course to see more info.</h1>
    </md-content>

</md-content>